<section>
	<h1>Upcoming Events</h1>
	<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=250&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=9cr8mg1gnt7u8i0648bcu1iv30%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FChicago" style=" border-width:0 " width="250" height="250" frameborder="0" scrolling="no"></iframe>
	<a href="/calendar/">Full Calendar</a>
</section>