// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// header background image -- https://github.com/imathis/octopress/issues/356
header[role="banner"] {
  @media only screen and (min-width: 480px) {
     background-image: url(/images/TSG_LOGO_PRW_NOBG_FB.png);
	 background-size: 400px auto;
     background-repeat: no-repeat;
     background-position: right;
  }
}

@media only screen and (max-width: 480px) {
  body > header { font-size: $header-font-size * 0.8; }
}
